body {
}
.checkbox{

}
thead{
    background-color: #54b706;
}
thead th{
    color: white;
    padding: 3px;
    text-align: left;
    font-weight: 100;
}
table{
    border-collapse:collapse;
    width: 40%;
}
tr:nth-of-type(2n){
    background-color: #ececd8;
}
td, th{
    border-right: 1px solid #c8c6b0;
    vertical-align: central;
    height: 30px;
    text-indent: 5px;
}
td:last-of-type, th:last-of-type{
    border-right: 0px;
}
img{
    padding-right: 5px;
    padding-left: 5px;
}
